body {
  background-color: snow;
}
.home {
  background-color: slategrey;
  border-radius: 10px;
  height: 210px;
}
.page-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
.homeErrBound {
  text-decoration: none;
  font-size: 20px;
}
.homeError {
  text-decoration: none;
  font-size: 20px;
}
.homePage {
  padding-top: 10px;
  padding-left: 10px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
li {
  text-decoration: none;
  font-size: 20px;
}

nav {
  text-decoration: none;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 20px;
  padding-left: 120px;
}
.toCounter {
  text-decoration: none;
}
.toPage {
  text-decoration: none;
}
.toError {
  text-decoration: none;
}
h1 {
  margin-top: 5px;
}
.linkHome {
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
}
.count-style {
  margin-left: 100px;
  font-size: 25px;
  padding-top: -10px;
  margin-bottom: 5px;
}
.counter button {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.counter button:hover {
  background-color: #ccc;
}

.counter button:active {
  background-color: #aaa;
}
